venv
venv/bin
venv/include
venv/lib
venv/lib64
venv/pyvenv.cfg
.env
conti-platform/node_modules
conti-platform/node_modules
conti-platform/node_modules/.bin
conti-platform/node_modules/.pnpm
conti-platform/node_modules/@internationalized
conti-platform/node_modules/@sveltejs
conti-platform/node_modules/@tailwindcss
conti-platform/node_modules/@tsconfig
conti-platform/node_modules/@types
conti-platform/node_modules/autoprefixer
conti-platform/node_modules/bits-ui
conti-platform/node_modules/clsx
conti-platform/node_modules/formsnap
conti-platform/node_modules/lucide-svelte
conti-platform/node_modules/postcss
conti-platform/node_modules/shadcn-svelte
conti-platform/node_modules/svelte
conti-platform/node_modules/svelte-check
conti-platform/node_modules/sveltekit-superforms
conti-platform/node_modules/tailwind-merge
conti-platform/node_modules/tailwind-variants
conti-platform/node_modules/tailwindcss
conti-platform/node_modules/tslib
conti-platform/node_modules/typescript
conti-platform/node_modules/vite
conti-platform/node_modules/zod